<form (ngSubmit)=onSubmit(f) #f="ngForm">
<table class="table">
  <tr><td>Name</td>
    <td><input type="text" name="name" class="form-control" ngModel ></td>
  </tr>
<tr><td>Email</td>
  <td><input type="text" name="email" class="form-control" ngModel ></td>
</tr>
<tr><td>Message</td>
  <td><input type="text" name="msg" class="form-control" ngModel ></td>
</tr>
<tr><td>Phone No</td>
  <td><input type="text" name="ph" class="form-control" ngModel >
  </td></tr>
<tr><td><button type="submit" class="form-control" class="btn btn-info">Submit</button></td></tr>
</table>
</form>
